# the source data file
PR-interviewer-comparison-wrangling/PV PAR Interviews Full_CLEANED.dta

# the code to extract items from the source data file
PR-interviewer-comparison-wrangling/trust-culture-source-export.do

# data files
.Rproj.user
PR-interviewer-comparison-wrangling/PR-interviewer-comparison-vars.csv
PR-interviewer-comparison-rodeo/trust.rhps.cntrls.vars.data

# files for coding responses
PR-interviewer-comparison-wrangling/interviewer-cruz-to-code-JACOB.csv
PR-interviewer-comparison-wrangling/interviewer-asu-to-code-JACOB.csv
PR-interviewer-comparison-wrangling/interviewer-cruz-to-code-ALEXIS.csv
PR-interviewer-comparison-wrangling/interviewer-asu-to-code-ALEXIS.csv
PR-interviewer-comparison-wrangling/interviewer-cruz-to-code-KEVIN.csv
PR-interviewer-comparison-wrangling/interviewer-asu-to-code-KEVIN.csv

# coding instructions for response variable coding
PR-interviewer-comparison-wrangling/S4Q12-coding-instructions.docx

# misc stuff
.DS_Store