# the source data file
PR-interviewer-comparison-wrangling/PV PAR Interviews Full_CLEANED.dta

# the code to extract items from the source data file
PR-interviewer-comparison-wrangling/trust-culture-source-export.do

# the misc docs folder
misc-docs

# data files
.Rproj.user

PR-interviewer-rodeo/PR-interviewer-rodeo-data
PR-interviewer-rodeo/PR-interviewer-rodeo-data/trust.rhps.cntrls.vars.data.rds

PR-interviewer-wrangling/PR-interviewer-wrangling-data
PR-interviewer-wrangling/PR-interviewer-wrangling-data/PR-interviewer-vars.csv
PR-interviewer-wrangling/PR-interviewer-wrangling-data/interviewer-cruz-to-code-JACOB.csv
PR-interviewer-wrangling/PR-interviewer-wrangling-data/interviewer-asu-to-code-JACOB.csv
PR-interviewer-wrangling/PR-interviewer-wrangling-data/interviewer-cruz-to-code-ALEXIS.csv
PR-interviewer-wrangling/PR-interviewer-wrangling-data/interviewer-asu-to-code-ALEXIS.csv
PR-interviewer-wrangling/PR-interviewer-wrangling-data/interviewer-cruz-to-code-KEVIN.csv
PR-interviewer-wrangling/PR-interviewer-wrangling-data/interviewer-asu-to-code-KEVIN.csv

# coding instructions for response variable coding
PR-interviewer-wrangling/PR-interviewer-wrangling-data/S4Q12-coding-instructions.docx

# misc stuff
.DS_Store

